.topLogo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.mainContainer {
  /* background-color: lightgoldenrodyellow; */
  background: linear-gradient(-135deg, lightgoldenrodyellow, white);
  padding-top: 3rem;
}

.footer {
  background-color: black;
  color: aliceblue;
  margin-top: 1rem;
}
