.topLogo {
  width: 576px;
  margin: -30px auto;
  height: 300px;
  object-fit: cover;
}

.mainContainer {
  padding-top: 3rem;
}

.header {
  margin-top: 1rem;
}

.footer {
  background-color: black;
  color: aliceblue;
  margin-top: 1rem;
}

.skill_and_certified {
  color: aqua;
}
